<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145729284583-eqggji1me0bnju5djctkehmqljuldo5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145729284583-eqggji1me0bnju5djctkehmqljuldo5j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>145729284583-9pnof0s8l4kbg4uknoe9rpf2sck3m8s4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMv3MrrnhIpE6LhnJywRiy3575EXHLMEU</string>
	<key>GCM_SENDER_ID</key>
	<string>145729284583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.fastapp.cafeNoir</string>
	<key>PROJECT_ID</key>
	<string>cafenoir-737f5</string>
	<key>STORAGE_BUCKET</key>
	<string>cafenoir-737f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145729284583:ios:04fb2dfaf1ceda90943542</string>
	<key>DATABASE_URL</key>
	<string>https://cafenoir-737f5-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>